In [2]:
import pandas as pd

In [2]:
covidWorldwide = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv')
covidWorldwide['continent'] = covidWorldwide['continent'].fillna(covidWorldwide['location'])

In [15]:
covidTotalCases = int(covidWorldwide['total_cases'].sum())
covidTotalCasescommas = "{:,}".format(covidTotalCases)
covidTotaldeaths = int(covidWorldwide['total_deaths'].sum())
covidTotaldeathscommas = "{:,}".format(covidTotalCases)
covidTotaldeathscommas
covidtotalcasespermillion = int(covidWorldwide['total_cases_per_million'].sum())
covidtotalmillion = "{:,}".format(covidtotalcasespermillion)
covidtotalmillion

'38,226,415'

In [13]:
covidWorldwide

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
0,AFG,Asia,Afghanistan,2019-12-31,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
1,AFG,Asia,Afghanistan,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
2,AFG,Asia,Afghanistan,2020-01-02,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
3,AFG,Asia,Afghanistan,2020-01-03,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
4,AFG,Asia,Afghanistan,2020-01-04,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34028,NaN,International,International,2020-02-28,705.0,0.0,4.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34029,NaN,International,International,2020-02-29,705.0,0.0,6.0,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34030,NaN,International,International,2020-03-01,705.0,0.0,6.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34031,NaN,International,International,2020-03-02,705.0,0.0,6.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34032,NaN,International,International,2020-03-10,696.0,-9.0,7.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
covidWorldwideAus = covidWorldwide[(covidWorldwide['date'] == '2020-07-24') & (covidWorldwide['location'] == 'Australia')]

iso_code                            object
continent                           object
location                            object
date                                object
total_cases                        float64
new_cases                          float64
total_deaths                       float64
new_deaths                         float64
total_cases_per_million            float64
new_cases_per_million              float64
total_deaths_per_million           float64
new_deaths_per_million             float64
new_tests                          float64
total_tests                        float64
total_tests_per_thousand           float64
new_tests_per_thousand             float64
new_tests_smoothed                 float64
new_tests_smoothed_per_thousand    float64
tests_units                         object
stringency_index                   float64
population                         float64
population_density                 float64
median_age                         float64
aged_65_older                      float64
aged_70_older                      float64
gdp_per_capita                     float64
extreme_poverty                    float64
cardiovasc_death_rate              float64
diabetes_prevalence                float64
female_smokers                     float64
male_smokers                       float64
handwashing_facilities             float64
hospital_beds_per_thousand         float64
life_expectancy                    float64
dtype: object

In [109]:
covidWorldwideAus['date'] = pd.to_datetime(covidWorldwideAus['date'])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [111]:
covidWorldwideAus.dtypes

iso_code                                   object
continent                                  object
location                                   object
date                               datetime64[ns]
total_cases                               float64
new_cases                                 float64
total_deaths                              float64
new_deaths                                float64
total_cases_per_million                   float64
new_cases_per_million                     float64
total_deaths_per_million                  float64
new_deaths_per_million                    float64
new_tests                                 float64
total_tests                               float64
total_tests_per_thousand                  float64
new_tests_per_thousand                    float64
new_tests_smoothed                        float64
new_tests_smoothed_per_thousand           float64
tests_units                                object
stringency_index                          float64
population                                float64
population_density                        float64
median_age                                float64
aged_65_older                             float64
aged_70_older                             float64
gdp_per_capita                            float64
extreme_poverty                           float64
cardiovasc_death_rate                     float64
diabetes_prevalence                       float64
female_smokers                            float64
male_smokers                              float64
handwashing_facilities                    float64
hospital_beds_per_thousand                float64
life_expectancy                           float64
dtype: object

In [39]:
covidWorldwide = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv')
covidWorldwide['continent'] = covidWorldwide['continent'].fillna(covidWorldwide['location'])
covidWorldwide['date'] = pd.to_datetime(covidWorldwide['date'])
covidWorldwide

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
0,AFG,Asia,Afghanistan,2019-12-31,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
1,AFG,Asia,Afghanistan,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
2,AFG,Asia,Afghanistan,2020-01-02,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
3,AFG,Asia,Afghanistan,2020-01-03,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
4,AFG,Asia,Afghanistan,2020-01-04,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34238,NaN,International,International,2020-02-28,705.0,0.0,4.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34239,NaN,International,International,2020-02-29,705.0,0.0,6.0,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34240,NaN,International,International,2020-03-01,705.0,0.0,6.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34241,NaN,International,International,2020-03-02,705.0,0.0,6.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34242,NaN,International,International,2020-03-10,696.0,-9.0,7.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
Recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
confirmed = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
death = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')

In [10]:
confirmed

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/23/20,7/24/20,7/25/20,7/26/20,7/27/20,7/28/20,7/29/20,7/30/20,7/31/20,8/1/20
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,35928,35981,36036,36157,36263,36368,36471,36542,36675,36710
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,4466,4570,4637,4763,4880,4997,5105,5197,5276,5396
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,25484,26159,26764,27357,27973,28615,29229,29831,30394,30950
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,889,897,897,897,907,907,918,922,925,925
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,851,880,916,932,950,1000,1078,1109,1148,1164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,Sao Tome and Principe,0.186400,6.613100,0,0,0,0,0,0,...,749,860,862,863,865,867,868,870,871,874
262,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,1654,1674,1674,1681,1691,1703,1711,1726,1728,1730
263,NaN,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,340,340,340,354,354,354,378,378,378,386
264,NaN,Tajikistan,38.861000,71.276100,0,0,0,0,0,0,...,7060,7104,7150,7192,7235,7276,7320,7366,7409,7451
265,NaN,Lesotho,-29.610000,28.233600,0,0,0,0,0,0,...,359,359,419,505,505,505,576,604,604,702

In [13]:
del confirmed['Lat']
del confirmed['Long']
del death['Lat']
del death['Long']

In [28]:
Recovered = Recovered.rename(columns = {'Province/State':'State','Country/Region':'Country'})
Recoveredtransform =Recovered.melt(id_vars = ['State','Country'])
Recoveredtransform = Recoveredtransform.rename(columns = {'variable':'Date','value':'Total_Recovered_Cases_by_state'})
Recoveredtransform['Date'] = pd.to_datetime(Recoveredtransform['Date'])
Recoveredtransform.columns = ['Recovered_State','Recovered_Country','Recovered_Date','Total_Recovered_Cases_by_state']
Recoveredtransform

,Recovered_State,Recovered_Country,Recovered_Date,Total_Recovered_Cases_by_state
0,NaN,Afghanistan,2020-01-22,0
1,NaN,Albania,2020-01-22,0
2,NaN,Algeria,2020-01-22,0
3,NaN,Andorra,2020-01-22,0
4,NaN,Angola,2020-01-22,0
...,...,...,...,...
48824,NaN,Sao Tome and Principe,2020-08-01,782
48825,NaN,Yemen,2020-08-01,862
48826,NaN,Comoros,2020-08-01,330
48827,NaN,Tajikistan,2020-08-01,6233
48828,NaN,Lesotho,2020-08-01,171

In [29]:
Confirmed = confirmed.rename(columns = {'Province/State':'State','Country/Region':'Country'})
Confirmedtransform =Confirmed.melt(id_vars = ['State','Country'])
Confirmedtransform = Confirmedtransform.rename(columns = {'variable':'Date','value':'Total_Confirmed_Cases_by_state'})
Confirmedtransform['Date'] = pd.to_datetime(Confirmedtransform['Date'])
Confirmedtransform.columns = ['Confirmed_State','Confirmed_Country','Confirmed_Date','Total_Confirmed_Cases_by_state']
Confirmedtransform

,Confirmed_State,Confirmed_Country,Confirmed_Date,Total_Confirmed_Cases_by_state
0,NaN,Afghanistan,2020-01-22,0
1,NaN,Albania,2020-01-22,0
2,NaN,Algeria,2020-01-22,0
3,NaN,Andorra,2020-01-22,0
4,NaN,Angola,2020-01-22,0
...,...,...,...,...
51333,NaN,Sao Tome and Principe,2020-08-01,874
51334,NaN,Yemen,2020-08-01,1730
51335,NaN,Comoros,2020-08-01,386
51336,NaN,Tajikistan,2020-08-01,7451
51337,NaN,Lesotho,2020-08-01,702

In [30]:
death = death.rename(columns = {'Province/State':'State','Country/Region':'Country'})
deathtransform =death.melt(id_vars = ['State','Country'])
deathtransform = deathtransform.rename(columns = {'variable':'Date','value':'Total_death_Cases_by_state'})
deathtransform['Date'] = pd.to_datetime(deathtransform['Date'])
deathtransform.columns = ['death_State','death_Country','death_Date','Total_death_Cases_by_state']
deathtransform

,death_State,death_Country,death_Date,Total_death_Cases_by_state
0,NaN,Afghanistan,2020-01-22,0
1,NaN,Albania,2020-01-22,0
2,NaN,Algeria,2020-01-22,0
3,NaN,Andorra,2020-01-22,0
4,NaN,Angola,2020-01-22,0
...,...,...,...,...
51333,NaN,Sao Tome and Principe,2020-08-01,15
51334,NaN,Yemen,2020-08-01,494
51335,NaN,Comoros,2020-08-01,7
51336,NaN,Tajikistan,2020-08-01,60
51337,NaN,Lesotho,2020-08-01,14

In [34]:
mergetransformcases = pd.concat([Recoveredtransform,Confirmedtransform,deathtransform],axis = 1)
#mergetransformcasesF = mergetransformcases[['State','Country','Date','Total_Recovered_Cases_by_state','Total_Confirmed_Cases_by_state','Total_death_Cases_by_state']]
mergetransformcases['Country'] = mergetransformcases['Recovered_Country'].fillna(mergetransformcases['Confirmed_Country'])
mergetransformcases['Country'] = mergetransformcases['Recovered_Country'].fillna(mergetransformcases['death_Country'])
mergetransformcases['Country'] = mergetransformcases['Confirmed_Country'].fillna(mergetransformcases['Recovered_Country'])
mergetransformcases['Country'] = mergetransformcases['Confirmed_Country'].fillna(mergetransformcases['death_Country'])
mergetransformcases['Country'] = mergetransformcases['death_Country'].fillna(mergetransformcases['Recovered_Country'])
mergetransformcases['Country'] = mergetransformcases['death_Country'].fillna(mergetransformcases['Confirmed_Country'])
mergetransformcases['State'] = mergetransformcases['Recovered_State'].fillna(mergetransformcases['Confirmed_State'])
mergetransformcases['State'] = mergetransformcases['Recovered_State'].fillna(mergetransformcases['death_State'])
mergetransformcases['State'] = mergetransformcases['Confirmed_State'].fillna(mergetransformcases['Recovered_State'])
mergetransformcases['State'] = mergetransformcases['Confirmed_State'].fillna(mergetransformcases['death_State'])
mergetransformcases['State'] = mergetransformcases['death_State'].fillna(mergetransformcases['Recovered_State'])
mergetransformcases['State'] = mergetransformcases['death_State'].fillna(mergetransformcases['Confirmed_State'])
mergetransformcases['Date'] = mergetransformcases['Recovered_Date'].fillna(mergetransformcases['Confirmed_Date'])
mergetransformcases['Date'] = mergetransformcases['Recovered_Date'].fillna(mergetransformcases['death_Date'])
mergetransformcases['Date'] = mergetransformcases['Confirmed_Date'].fillna(mergetransformcases['Recovered_Date'])
mergetransformcases['Date'] = mergetransformcases['Confirmed_Date'].fillna(mergetransformcases['death_Date'])
mergetransformcases['Date'] = mergetransformcases['death_Date'].fillna(mergetransformcases['Recovered_Date'])
mergetransformcases['Date'] = mergetransformcases['death_Date'].fillna(mergetransformcases['Confirmed_Date'])
mergetransformcases

,Recovered_State,Recovered_Country,Recovered_Date,Total_Recovered_Cases_by_state,Confirmed_State,Confirmed_Country,Confirmed_Date,Total_Confirmed_Cases_by_state,death_State,death_Country,death_Date,Total_death_Cases_by_state,Country,State,Date
0,NaN,Afghanistan,2020-01-22,0.0,NaN,Afghanistan,2020-01-22,0,NaN,Afghanistan,2020-01-22,0,Afghanistan,NaN,2020-01-22
1,NaN,Albania,2020-01-22,0.0,NaN,Albania,2020-01-22,0,NaN,Albania,2020-01-22,0,Albania,NaN,2020-01-22
2,NaN,Algeria,2020-01-22,0.0,NaN,Algeria,2020-01-22,0,NaN,Algeria,2020-01-22,0,Algeria,NaN,2020-01-22
3,NaN,Andorra,2020-01-22,0.0,NaN,Andorra,2020-01-22,0,NaN,Andorra,2020-01-22,0,Andorra,NaN,2020-01-22
4,NaN,Angola,2020-01-22,0.0,NaN,Angola,2020-01-22,0,NaN,Angola,2020-01-22,0,Angola,NaN,2020-01-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51333,NaN,NaN,NaT,NaN,NaN,Sao Tome and Principe,2020-08-01,874,NaN,Sao Tome and Principe,2020-08-01,15,Sao Tome and Principe,NaN,2020-08-01
51334,NaN,NaN,NaT,NaN,NaN,Yemen,2020-08-01,1730,NaN,Yemen,2020-08-01,494,Yemen,NaN,2020-08-01
51335,NaN,NaN,NaT,NaN,NaN,Comoros,2020-08-01,386,NaN,Comoros,2020-08-01,7,Comoros,NaN,2020-08-01
51336,NaN,NaN,NaT,NaN,NaN,Tajikistan,2020-08-01,7451,NaN,Tajikistan,2020-08-01,60,Tajikistan,NaN,2020-08-01
51337,NaN,NaN,NaT,NaN,NaN,Lesotho,2020-08-01,702,NaN,Lesotho,2020-08-01,14,Lesotho,NaN,2020-08-01

In [37]:
MergeFinal = mergetransformcases[['Country','State','Date','Total_Recovered_Cases_by_state','Total_Confirmed_Cases_by_state','Total_death_Cases_by_state']]
MergeFinal.dtypes

Country                                   object
State                                     object
Date                              datetime64[ns]
Total_Recovered_Cases_by_state           float64
Total_Confirmed_Cases_by_state             int64
Total_death_Cases_by_state                 int64
dtype: object

In [23]:
Recoveredcases = int(Recoveredtransform['Cases'].sum())
Recoveredcasesformat = "{:,}".format(Recoveredcases)
Recoveredcasesformat

'445,003,955'

In [40]:
mergecases = pd.merge(MergeFinal,covidWorldwide,how = 'outer',left_on = ['Country','Date'],right_on = ['location','date'])
mergecases

,Country,State,Date,Total_Recovered_Cases_by_state,Total_Confirmed_Cases_by_state,Total_death_Cases_by_state,iso_code,continent,location,date,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
0,Afghanistan,NaN,2020-01-22,0.0,0.0,0.0,AFG,Asia,Afghanistan,2020-01-22,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
1,Albania,NaN,2020-01-22,0.0,0.0,0.0,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Algeria,NaN,2020-01-22,0.0,0.0,0.0,DZA,Africa,Algeria,2020-01-22,...,3.857,13913.839,0.5,278.364,6.73,0.7,30.4,83.741,1.9,76.88
3,Andorra,NaN,2020-01-22,0.0,0.0,0.0,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,NaN,2020-01-22,0.0,0.0,0.0,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58375,NaN,NaN,NaT,NaN,NaN,NaN,NaN,International,International,2020-02-28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58376,NaN,NaN,NaT,NaN,NaN,NaN,NaN,International,International,2020-02-29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58377,NaN,NaN,NaT,NaN,NaN,NaN,NaN,International,International,2020-03-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58378,NaN,NaN,NaT,NaN,NaN,NaN,NaN,International,International,2020-03-02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58379,NaN,NaN,NaT,NaN,NaN,NaN,NaN,International,International,2020-03-10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
covidWorldwideloc = covidWorldwide[covidWorldwide['location'] == 'United Kingdom']
covidWorldwideloc

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
32136,GBR,Europe,United Kingdom,2019-12-31,0.0,0.0,0.0,0.0,0.000,0.000,...,12.527,39753.244,0.2,122.137,4.28,20.0,24.7,NaN,2.54,81.32
32137,GBR,Europe,United Kingdom,2020-01-01,0.0,0.0,0.0,0.0,0.000,0.000,...,12.527,39753.244,0.2,122.137,4.28,20.0,24.7,NaN,2.54,81.32
32138,GBR,Europe,United Kingdom,2020-01-02,0.0,0.0,0.0,0.0,0.000,0.000,...,12.527,39753.244,0.2,122.137,4.28,20.0,24.7,NaN,2.54,81.32
32139,GBR,Europe,United Kingdom,2020-01-03,0.0,0.0,0.0,0.0,0.000,0.000,...,12.527,39753.244,0.2,122.137,4.28,20.0,24.7,NaN,2.54,81.32
32140,GBR,Europe,United Kingdom,2020-01-04,0.0,0.0,0.0,0.0,0.000,0.000,...,12.527,39753.244,0.2,122.137,4.28,20.0,24.7,NaN,2.54,81.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32347,GBR,Europe,United Kingdom,2020-07-29,300692.0,70.0,45878.0,119.0,4429.367,1.031,...,12.527,39753.244,0.2,122.137,4.28,20.0,24.7,NaN,2.54,81.32
32348,GBR,Europe,United Kingdom,2020-07-30,301455.0,763.0,45961.0,83.0,4440.606,11.239,...,12.527,39753.244,0.2,122.137,4.28,20.0,24.7,NaN,2.54,81.32
32349,GBR,Europe,United Kingdom,2020-07-31,302301.0,846.0,45999.0,38.0,4453.068,12.462,...,12.527,39753.244,0.2,122.137,4.28,20.0,24.7,NaN,2.54,81.32
32350,GBR,Europe,United Kingdom,2020-08-01,303181.0,880.0,46119.0,120.0,4466.031,12.963,...,12.527,39753.244,0.2,122.137,4.28,20.0,24.7,NaN,2.54,81.32
32351,GBR,Europe,United Kingdom,2020-08-02,303952.0,771.0,46193.0,74.0,4477.388,11.357,...,12.527,39753.244,0.2,122.137,4.28,20.0,24.7,NaN,2.54,81.32